nav {
  list-style-type: none;

  overflow: hidden;
  background-color: #333;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

img{

}
li a:hover {
  background-color: #CCC;
}

.active{
  background-color: #2b77f2;
}
.banner{
  text-align: center;
  padding: 500px 500px 500px 200px;
  background-color: #2b77f2;
  border: 2px solid black;
  opacity: 0.6;
  background-image: url("me.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  color: #2b77f2;
  font-weight: 900;
  font-size: 350%;
  text-decoration-style: strong;

}
p{
  font-family: 'Montserrat', sans-serif;
  text-align: center;


}
h4{
  font-family: 'Open Sans Condensed', sans-serif;
}
h2{
  font-family: 'Indie Flower', cursive;
}
h1{
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  padding: 90px 90px 90px 90px;
  background-color: #FFF;


}
img{
  width:500px;
  height:250px;
  padding: 20px,20px,20px,20px;
  align:"middle";
}
#about{
  text-align: center;
  background-color: #FFF;
  border: 2px solid black;
}
footer{
  text-align: center;
}
a{
  text-align: center;
  text-decoration: none;
}


.aboutMe{
  background-color: #4CAF50;
}
#dt{
  height: 400px;
  width: 400px;
}
#app{
  height: 500px;
  width:250px;
}
#ap{
  height:500px;
  width:300px;
}
body {
   margin: 0;
   background-color: #2b77f2;
}
#projects{
  text-align: center;
  border: 2px solid black;
}
#contact{
  text-align: center;
  border: 2px solid black;
  background-color: #FFF;
}
h3{
  text-decoration-style: strong;
}
