
body{
  background-color: #EDFFEC;
}

h3 {
  font-family: 'Arvo', serif;
  border: 3px blue groove;
  background-color: #61E786
}
p {
  font-family: 'Arvo', serif;
}
h1 {
  font-family: 'Amatic SC', cursive;
}
.favorite{
  color: #5941f4;
}
nav{
  border: 3px blue groove;
}
p {
  border:1px solid gray;
  background-color: #9792E3;
}
img{
  width:200px;
  height:100px;
  padding: 20px,20px,20px,20px;
}


ul a:hover {
  background-color: #555;
  color: black;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #61E786;
  border: 1px solid #555;
}
